<!DOCTYPE html>
        <html>
            <head>
                <meta charset="utf-8" />
                <title>ANNOTE !!!</title>
            </head>
        
            <body>
                <p style="font-size: large;">Username : {{userTweet}}</p>
                <p style="font-size: xx-large;">{{textTweet}}</p>
                <p style="font-size: large;">like : {{likeTweet}}</p>
                <p style="font-size: large;">retweet : {{rtTweet}}</p>
                <p style="font-size: large;">Date : {{dateTweet}}</p>

                <form method="POST">
                    <input type="hidden" name="idTweet" value={{idTweet}}/>
                    <input type="hidden" name="idUser" value={{idUser}}/>

                    <input style="font-size: xx-large;padding: 20px; width: 100vw; margin-top:5vh" type="submit" name="submit_button" value="positive"><br/>
                    <input style="font-size: xx-large;padding: 20px; width: 100vw; margin-top:5vh" type="submit" name="submit_button" value="negative"><br/>
                    <input style="font-size: xx-large;padding: 20px; width: 100vw; margin-top:5vh" type="submit" name="submit_button" value="mixed"><br/>
                    <input style="font-size: xx-large;padding: 20px; width: 100vw; margin-top:5vh" type="submit" name="submit_button" value="neutral"><br/>
                    <input style="font-size: xx-large;padding: 20px; width: 100vw; margin-top:5vh" type="submit" name="submit_button" value="skip"><br/>
                </form>
                <p>Nb Tweets que tu as annoté : {{nbTweet}}</p>
            </body>
        </html>
